$primaryDark: #080807;
$secondaryDark: #0f0f11;
$primaryLight: rgb(246, 243, 240);
$accentColor: #ff2e2e;
$phi: 1.6180339887498948482;
$topPadding: 15px;
$sidePadding: $phi * $topPadding;
$buttonSlide: 7px;
$buttonPinch: 5px;
$horizontalBuffer: 10px;
